html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;

    font-family: arial;
}

body {
    /*line-height:1;*/
    max-height: 100%;
    overflow: hidden;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}




hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}
.wrapper1{
    height: 100vh;
    border-right:1px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;
    color: #888888;
    align-items: center;
    justify-content: space-evenly;
}
.wrapper-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
}

header{
    background: #009fff;
}


#logo{
    font-size: 19px;
    float: left;
    color:white;
    /*margin-top: 10px;*/
    /*margin-bottom: 20px;*/
    /*text-indent: -10000px;*/
}

.update-button{
    background-color: #2c5364;
    color: white;
    border-radius: 10px;
    width: 10vw;
}

table, th, td {
    border: 1px solid #888888;
    color: white;
    margin-top: 5px;
    border-collapse: collapse;
    padding: 10px 15px;
}

section{
    margin: 20px 0 30px;
}
.main-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section:after{
    content: "";
    display: block;
    clear: both;
}

































































































